.topnav {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 148px;
    width: 100%;
    z-index: 1;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #d6d6d6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

h1{
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}

h1.title {
    position: absolute;
    width: 570px;
    height: 105px;
    left: 148px;
    top: 160px;
}

p {
    font-style: normal;
    font-weight: normal;
    color: #21243D;
}

p.desc{
    position: absolute;
    width: 497px;
    height: 66px;
    left: 148px;
    top: 373px;
    font-size: 16px;
    line-height: 23px;
}

p.subtitle{
    position: absolute;
    height: 60px;
    left: 148px;
    font-size: 22px;
    line-height: 60px;
}

.profile{
    position: absolute;
    width: 300px;
    left: 385px;
    top: 100px;
    max-width:100%;  

}

img.profile{
    border-radius: 50%; 
}

.exp{
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0px;
    top: 595px;
    padding: 30px;
    background: #EDF7FA;
}

.work-block{
    position: absolute;
    width: 1000px;
    height: 295px;
    left: 148px;
    padding: 20px;
    top: 150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
}

  
  .one {
    position: absolute;
    top: 25%;
    height: 100px;
    width: 35%;
    margin-top: -50px; 
    text-align: right;
  }
  
  .two { 
    top:25%;
    left:50%;
    text-align: left;
    font-size: 22px;
  }

.project-item {
    transition: transform .2s;
    padding: 20px;
    text-align: center;
  }
  
  .project-img {
      position:absolute;
      object-fit: cover;
      top: 100px;
  }
  
  .project-item:hover{
    transform: scale(1.1)
  }